@charset "UTF-8";

/*
** Materialize css
*/
@import "vendor/materialize";
// @import "partes/icon-font";
// @import "http://fonts.googleapis.com/icon?family=Material+Icons";

/*
** css personalizados
*/
// rutas
@import "partes/rutas";

//secciones
@import "partes/header";
@import "partes/main";
@import "partes/iframe";
@import "partes/footer";
