- var titulo = "My Humans Txt"
- var archivo = "humans.txt"

doctype html
html(lang="en")
	//- HEAD
	include partes/head.jade
	body
		//- HEADER
		include partes/header.jade
		//- MAIN
		main
			section.container
				.row
					.col.s12
						h2.codigo.flow-text code: #{archivo}
					article.col.s12
						//- iframe
						iframe(src="humans.txt")
				.row
					.botonera.col.s12
						//- botonera
						a.waves-effect(target="_blank" title="Go to Humanstxt.org web page" href="http://humanstxt.org/ES" )
							#[i(class="material-icons right") launch] Humanstxt.org

						a.waves-effect(target="_blank" title="View this code site in Cloud9" href="https://ide.c9.io/aribet/humans-txt" )
							#[i(class="material-icons right") launch] Cloud9

						a.waves-effect(target="_blank" title="Go to this in GitHub proyect" href="https://github.com/aribet/my-humans-txt" )
							#[i(class="material-icons right") launch] GitHub

						a.waves-effect(target="_blank" title="Download this site from GitHub" href="https://github.com/aribet/my-humans-txt/archive/gh-pages.zip" )
							#[i(class="material-icons right") launch] Download this site
		//- FOOTER
		include partes/footer.jade
	//- JS
	include partes/scripts.jade