body
{
    background: #fefefe;
    color:#333;
    background: url(http://subtlepatterns.com/patterns/symphony.png); 
    font-size: 16px;
    margin:0 auto;
}
html,body
{
    height:100% ;
}
header
{
    padding:1em;
}
h1
{
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 1.8em;
    color:#420002;
    margin:0;
}
small
{
    color:#ccc;
    font-size:0.7em;
    font-weight: normal;
    text-shadow:3px 3px 2px rgba(0,0,0,0.1);
}

h2
{
    font-size: 1.1em;
    font-family:monospace;
    font-weight:normal;
    margin:0;
}

section
{
    margin:0 auto;
    display: block;
    max-width:650px;
}

article
{
    margin:0 auto;
    border: 1px solid #ccc;
    background: white;
}
pre
{
    margin:0;    
}
.wrapper
{
    min-height:100%;
    position:relative;
    margin:0;
}
 
.wrapper:after
{
    clear:both;
    content: "";
    display:block;
    height: 7em;
}
    

footer
{
    background: url(http://subtlepatterns.com/patterns/congruent_outline.png);
    height:6em;
    margin-top:-6em;
    position:relative;
    content-box:box-sizing;
}
footer div
{
   padding:1em 0 0 1em;
}