body
{
    color:#333;
    background: url(http://subtlepatterns.com/patterns/symphony.png); 
    font-size: 16px;
    margin:0 auto;
    @media handheld {
            background: red; 
    }

}
html,body
{
    height:100% ;
}
header
{
    padding:1em;
}
h1
{
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 1.8em;
    color:#420002;
    margin:0;
}

small
{
    color:#ccc;
    font-size:0.7em;
    font-weight: normal;
    text-shadow:3px 3px 2px rgba(0,0,0,0.1);
}

h2
{
    font-size: 1.1em;
    font-family:monospace;
    font-weight:normal;
    margin:0;
}
section
{
    margin:0 auto;
    display: block;
    max-width:650px;
}
aside ul
{
    margin:1em auto;
    display: flex;
    justify-content:space-between;
    /*align-content: center;*/
    width:500px;
}

li
{
    display: inline-flex;
    a
    {
        background-color:rgba(0,0,0,0.1);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding:0.5em 1em;
        text-decoration:none;
        color:rgba(0,0,0,0.4);
        &:hover
        {
            background-color:rgba(0,0,0,0.4);
            color:rgb(255,255,255);
            -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
            -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
            text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
            
        }
    }
}

article
{
    margin:0 auto;
    border: 1px solid #ccc;
    background: white;
}
pre
{
    margin:0;
}
.wrapper
{
    min-height:100%;
    position:relative;
    margin:0;
    &:after
    {
        clear:both;
        content: "";
        display:block;
        height: 7em;
    }
}
    
/* footer - pie de pagina*/
footer
{
    background: url(http://subtlepatterns.com/patterns/congruent_outline.png);
    height:9em;
    margin-top:-6em;
    position:relative;
    content-box:box-sizing;
}

footer 
{
    &> div
    {
       padding:1em 0 0 1em;
    }
}

iframe
{
    border: none;
    width:100%;
    height:330px;
}

.license
{
	display: inline-block;
	margin: 0em 1em 1em 1em;
	font-size: 0.7em;
	color:#aaa;
}
.license a
{
	color:#aaaabb;
}