/* main.scss */
body {
  background: url('../img/fondos/symphony.png');
  //footer adhesivo
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto; //footer adhesivo
  margin-top: 2em;
}

h2 {
  font-family: monospace;
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
}

section {
  display: block;
  margin: 0 auto;
  max-width: 650px;
}


//  BOTONERA

.botonera {
  a {
    @extend .waves-light, .btn-large, .orange, .darken-4;
    // animacion al click //boton //color base //oscurecer
    &:hover {
      @extend .accent-4, .black-text; //oscurecer //color texto
    }
    i {
      @extend .material-icons, .right;
    }
    display: inline-block;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
  }
}
