footer.page-footer
			.container
				.row
					.col.human-img
						a(href="humans.txt" target="_blank")
							img(src="img-humans/humanstxt-isolated-blank.gif")

						a(href="humans.txt" target="_blank")
							img(src="img-humans/humanstxt-isolated-orange.gif")

						a(href="humans.txt" target="_blank")
							img(src="img-humans/humanstxt-transparent-1ink.png")

						a(href="humans.txt" target="_blank")
							img(src="img-humans/humanstxt-transparent-color.png")
			.footer-copyright
				.container
					.row
						.license
							a(rel="license" href="http://creativecommons.org/licenses/by/4.0/")
								img(alt="Licencia Creative Commons" src="https://i.creativecommons.org/l/by/4.0/80x15.png")
							div
								span(xmlns:dct="http://purl.org/dc/terms/" property="dct:title") My humans.txt
								|  por
								span(xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName")  André Ribet
								|  se distribuye bajo una
								a(rel="license" href="http://creativecommons.org/licenses/by/4.0/")  Licencia Creative Commons Atribución 4.0 Internacional
								br
								|  Basada en una obra en
								a(xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/aribet/my-humans-txt" rel="dct:source")  https://github.com/aribet/my-humans-txt/